*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-gray :  #a0a0a0;
    --medium-gray :  #313131;
    --orange:  #f69906;

}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.display{
    display: block;
    height: 30vh;
    
} 
#result{
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    text-align: right;
    overflow-wrap: break-word;
   
}

.display, .container-col{
    background-color: black;
    width: 100%;
}

.container-col{
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 5vw;
    row-gap: 8vw;
    padding: 0 10px;
}
.bg-orange{
    background: var(--orange);
}
.bg-light{
    background: var(--light-gray);
}

button{
    background-color: rgb(30, 28, 28);
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: none;
}
button:hover{
    font-size: 22px;
}
@media only screen and (min-width: 921px) {
    /* .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
    margin-top: 50px;
    padding: 20px;
    align-content: center;
} 
.container-col{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 20px;
    
}
.display{
    height: 20vh;
    padding: 20px;
    
}
.display, .container-col{
    width: 240px;
} 

#result{
    font-size: 30px;
} */
.container{
    margin-top: 50px;
    padding: 20px;
    align-content: center;
} 
.container-col{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 20px;
    
}
.display{
    height: 20vh;
    padding: 20px;
}
.display, .container-col{
    width: 240px;
} 
 button{
    width: 50px;
    height: 50px;
}

}

@media only screen and (max-width: 920px) and (min-width: 768px)  {
#result {
    font-size: 80px;
}
.container-col {
    padding-bottom: 10px;
}
.display, .container-col {
    width: 100%; 
} 
button{
    font-size: 60px;
}

}