* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #e1e1e1;
  --light-gray: #a5a5a5;
  --medium-gray: #333333;
  --orange: #f69906;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  min-height: 100vh;
  background: white;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(120px, auto) repeat(5, 90px);
  grid-gap: 5px;
}

.display {
  grid-column: 1 / -1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}
#result {
  font-size: 80px;
  color: black;
  font-weight: 300;
  padding: 20px;
  text-align: right;
  overflow-wrap: break-word;
}
#previous {
  font-size: 40px;
  color: var(--medium-gray);
  font-weight: 300;
  padding: 20px;
  text-align: right;
  overflow-wrap: break-word;
}

.bg-orange {
  background-color: var(--orange);
}
/* .bg-light {
  background-color: var(--light-gray);
  color: #000;
} */

button {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 5px #bebebe, -5px -5px 5px #ffffff;
  color: black;
  font-size: 35px;
  border: none;
  outline: none;
  font-weight: 500;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}
button:hover {
  font-size: 40px;
  font-weight: 600;
}
.icon {
  font-size: 50px;
  padding-top: 5px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: var(--bg-color);
  }
  .container {
    background-color: var(--bg-color);
    margin-top: 20px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    grid-gap: 5px;
  }
  .display {
    background-color: var(--bg-color);
  }
  #result {
    font-size: 40px;
  }

  #previous {
    font-size: 20px;
    color: var(--medium-gray);
  }
  button {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  button:hover {
    font-size: 35px;
  }
  .icon {
    font-size: 35px;
  }
}
